* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}

body {
  font-family: Monospace;
}

nav {
  width: 100%;
  min-width: 150px;
  height: 100px;
  background-color: #9CA6BB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#portrait-frame {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 40vw;
  min-width: 200px;
  max-width: 470px;
  height: 100%;
  justify-content: space-between;
}

#portrait {
  width: 95px;
  clip-path: circle(40%);
  padding: 0.4rem;
  margin-left: min(3rem, 12vw);
  margin-right: 0.5rem;
}

#title {
  width: auto;
  margin-right: 3rem;
  letter-spacing: 4px;
  font-size: 30px;
}

#nav-items {
  width: 55%;
  max-width: 650px;
  min-width: 50px;
  height: 70px;
  margin-right: 20px;
}

.nav-icon,
#nav-check {
  display: none;
}

#nav-items>ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#nav-items>ul>li {
  list-style-type: none;
  padding: 0;
  border: 0;
  width: fit-content;
  text-align: center;
}

.nav_link_text {
  text-decoration: none;
  margin-left: 0px;
  padding: 0.6rem 0.85rem;
  display: block;
  letter-spacing: 1.5px;
  font-weight: bold;
  line-height: 2;
  color: #111010;
  font-size: 21px;
}

.nav_link_text:hover {
  color: #422176;
}

#about {
  padding: 0.6rem 0.8rem;
}

#connect {
  padding: 0.6rem 0.75rem;
  margin-left: -1.5px;
}

#nav-items>ul>li:hover {
  background-color: #BFC9DA;
  border: 6px outset #16E0B1;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  nav {
    height: 80px;
    min-width: 200px;
  }

  #title {
    min-width: 80px;
    font-size: 18px;
  }

  #nav-items {
    overflow: hidden;
    margin-left: 1px;
  }

  #nav-items>ul {
    border: 1px solid #352020;
    display: flex;
    flex-wrap: wrap;
  }

  #nav-items>ul>li {
    margin: 0;
    width: 100.5vw;
    min-width: 200px;
    padding: 0;
    height: 59px;
    border: 1px solid #355845;
    border-radius: 0;
    background-color: #BFC9DA;
  }

  #nav-items>ul>li:nth-of-type(3) {
    width: 100.5vw;
  }

  #nav-items>ul>li:nth-of-type(4) {
    width: 100.5vw;
  }

  .nav_link_text {
    overflow: hidden;
    height: 53px;
    line-height: 1.45;
  }

  #home,
  #work,
  #about,
  #connect {
    padding: 0.8rem;
    margin: 0;
  }

  #nav-items>ul>li:hover {
    border: 6px outset #16E0B1;
    border-radius: 2px;
    cursor: pointer;
  }

  #nav-items>ul>li:hover .nav_link_text {
    line-height: 0.9;
  }

  #portrait {
    width: 75px;
    clip-path: circle(37%);
    padding: 0.4rem;
    margin-left: min(1.8rem, 12vw);
    margin-right: 0.8rem;
  }

  .nav-icon {
    display: inline-block;
    float: right;
    line-height: 70px;
  }

  .nav-icon>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    vertical-align: middle;
  }

  .nav-icon>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid #254773;
  }

  .nav-icon>label:hover {
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    display: block;
    width: 102%;
    background-color: #4A3434;
    transition: height 0.3s step-start;
    overflow-y: hidden;
    top: 80px;
    left: -5px;
  }

  #nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  #nav-check:checked~.nav-links {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
}


/* style.scss */


/* Reset some default styles */


/* style.scss */


/* Reset some default styles */


/* style.scss */


/* Reset some default styles */


/* style.scss */


/* Reset some default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-wrap {
  width: 60%;
  margin-top: 900px;
}

@media screen and (max-width: 768px) {
  .content-wrap {
    margin-top: 1100px;
  }
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  /* Center text within the card */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Background colors */
  &.location-info {
    background-color: #3498db;
    /* Blue */
    color: #fff;
  }

  &.today-times {
    background-color: #2ecc71;
    /* Green */
    color: #fff;
  }

  &.tomorrow-times {
    background-color: #e74c3c;
    /* Red */
    color: #fff;
  }

  &.upcoming-times {
    background-color: #f39c12;
    /* Yellow */
    color: #fff;
  }
}

.card i {
  margin-bottom: 10px;
  color: #fff;
}

.section-title {
  margin-top: 20px;
  color: #333;
}

.times-list {
  list-style: none;
}

.times-list-item {
  margin-bottom: 10px;
}


/* Media query for responsive design */

@media screen and (max-width: 768px) {
  .content-wrap {
    width: 90%;
  }
}

#upcomingTimes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columns with equal width */
  grid-auto-rows: auto;
  /* Automatic height for rows */
  grid-gap: 10px;
  /* Adjust the gap between grid items */
}


/* Alternate between row and column */


/* Add this CSS for the heading */

.mantras-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  /* Adjust as needed */
}

.mantra-card {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #3498db;
  transition: transform 0.3s ease-in-out;
}

.mantra-card:hover {
  transform: scale(1.05);
}

.mantra-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}


/* Increase audio player size */

.mantra-audio {
  width: 300px;
  /* You can adjust the width as needed */
  height: 50px;
  /* You can adjust the height as needed */
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*# sourceMappingURL=style.css.map */